<h3>Here Is your <%= @wishlist.name%> Wishlist!</h3><br>

  <% if flash.has?(:message) %>
    <div class="alert alert-success" role="alert">
     <%= flash[:message] %>
    </div>
  <% end %>

  <% if flash.has?(:alert) %>
    <div class="alert alert-danger" role="alert">
     <%= flash[:alert] %>
    </div>
  <% end %>

<table class="table">
  <tr>
    <th>Item Name</th>
    <th>Quantity</th> 
    <th>Price</th>
  </tr>
    <% @items.each do |item|%>
      <tr>
        <td><%=item.name%></td>
        <td><%=item.quantity%></td>
        <td><%=item.price%></td>
        <%if logged_in?%>
          <% if current_user.id == @wishlist.user_id %>
           <td>
             <a href="/items/<%=item.id%>/edit"  class="btn btn-info" role="button" aria-pressed="true">Edit</a>
           </td>
            <td>
              <form method="POST" action="/item/<%=item.id%>/delete">
              <input id="hidden" type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete This item"  class="btn btn-danger btn-sm">
              </form>
            </td>
          <%end%>
        <%end%>
      </tr>
   
  <%end%> 
 </table>



<br><hr><br>
<%if logged_in?%>
  <% if current_user.id == @wishlist.user_id %>
    <form action="/item/new" method="POST">
    <input type="hidden" name="wishlist_id" value= <%=@wishlist.id%> >
     Add Item To Wishlist: <input type="text" name="item" placeholder="Item Name">
     <input type="number" name="quantity" placeholder="Quantity">
     <input type="text" name="price" placeholder="Price">
     <input type="submit" name="Add Item To List " value="Add Item" class="btn btn-primary">
    </form>

    <p>
     <a href="/wishlist/<%=@wishlist.id%>/edit"  class="btn btn-info" role="button" aria-pressed="true">Edit Wishlist Name</a>
      
    <form method="POST" action="/wishlist/<%=@wishlist.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete This Wishlist"  class="btn btn-danger">
    </form>
    </p>
  <%end%>
<%end%>